.container {
  /* display: flex;
  align-items: center; */
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 15%;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  /* width: 15%; */
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.style {
  background-color: #0e629031;
  border-radius: 10%;
}

.category.green {
  background-color: #33c911d7;
  border-radius: 10%;
}

.category.culture {
  background-color: #d772c855;
  border-radius: 10%;
}

.category.invent {
  background-color: #ea5e0df1;
  border-radius: 10%;
}

.category.coding {
  background-color: #b063e3d0;
  border-radius: 10%;
}

.category.literature {
  background-color: #d8657aee;
  border-radius: 10%;
}

.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
